/* reset all */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#main {

}

/* start header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav  li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a {
    color: #FAF5E9;
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    background-color: #FFCC00;
    color: #000;
    display: inline-block;
}

#nav .subnav li:hover {
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    background-color: #FAF5E9;
    display: none;
    position: absolute; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 150px;
}

#nav .subnav a {
    color: #000;
    padding: 0 14px;
    line-height: 38px;
}

#nav .icon-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
}

#header .search-btn:hover .icon-search{
    background-color: #FFCC00;
    color: #000;
    cursor: pointer;
    display: inline-block;
}

#header .icon-search {
    color: #FAF5E9;
    line-height: 46px;
    padding: 0 16px;
    font-size: 20px;
}

#header .name-brand {
    float: right;
}

#header .server-brand {
    color: #009B4D;
    font-weight: 700;
    line-height: 46px;
    font-size: 18px;
    margin-right: 10px;
}

/* end header */

/* start slider */

#slider {
    margin-top: 46px;
}

/* slideshow container */
.slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
}

/* hide the images by default */
#slider .mySlides {
    display: none;
    
}

/* next and previous button */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position the "next button to the right" */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* on hover and add background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FAF5E9;
}

/* caption text */
.text {
    color: #FAF5E9;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;     
  }

  /* number text css */
.numbertext {
    color: #FAF5E9;
    font-size: 12px;
    position: absolute;
    padding: 8px 12px;
    top: 0;
}

/* the dot/bullets/indicator */
.nav-dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
}

.dot {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    margin: 0 2px;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}


#content {

}

/* css for general content-section */

#content .content-section {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.6;
}

#content .about-text {
    margin: 15px 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

/* css for admin section */

#content-admin {
    background-color: #FAF5E9;
}

#content-admin .admin-list {
    padding: 32px 0;
}

#content-admin .admin-detail {
    float: left;
    padding: 0 8px;
    width: 33.33333%;
    text-align: center;
}

#content-admin .admin-name {#content-admin 
    margin: 16px 0;
    font-size: 15px;
}

#content-admin .admin-img {
    width: 154px;
    border-radius: 4px;
}

#content-admin .admin-img:hover {
    opacity: 0.6;
    cursor: pointer;
}

/*Css for modal-admin */
.modal-admin {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-admin .modal-container {
    background-color: #FAF5E9;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    border-radius: 20px;
}

.modal-admin .modal-close {
    position: absolute;
    font-size: 20px;
    color: #FAF5E9;
    right: 0;
    padding: 8px 12px;
}

.modal-admin .modal-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

.modal-admin .modal-header {
    background-color: #009B4D;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #FAF5E9;
    border-radius: 20px;
}

.modal-admin .modal-heading-icon {
    margin-right: 16px;
}

.modal-admin .overview-admin {
    padding: 20px;
}

.modal-admin .admin-img {
    float: left;
    border-radius: 5px;
}

.modal-admin .admin-name {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 16px;
}

.modal-admin .about-admin {
    display: inline-block;
    margin: 0 30px;
}

.modal-admin .admin-info-link {
    float: right;
    transform: translateY(100px);
}

.modal-admin .admin-info-link a {
    color: #009B4D;
    font-size: 20px;
    text-decoration: none;
    padding: 0 2px;
}

.admin-info-link a:hover {
    opacity: 0.6;
}

#footer {

}
